.Main {
    height:100%;
    width:100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(109, 50, 1);
}

.NumberButton {
    background-color: rgb(155, 10, 39);
    border: none;
    padding: 5% 30px;
    margin: 5px;
    display: inline-block;
    border-radius: 10%;
    box-shadow: 5px 5px #140843;
    font-weight: 900;
    font-size: large;
}

.NumberButton:hover {
    background-color: rgb(120, 14, 35);
}

.NumberButton:active {
    transform: translate3d(3px, 3px, 0px);
    box-shadow: 2px 2px #392222;
}

.OperationButton {
    background-color: rgb(53, 191, 191);
    border: none;
    padding: 5% 30px;
    margin: 5px;
    display: inline-block;
    border-radius: 10%;
    box-shadow: 5px 5px #140843;
    font-size: large;
    font-weight: bold;
}

.DoOperationButton {
    background-color: rgb(53, 191, 191);
    border: none;
    padding: 5% 55px;
    margin: 5px;
    display: inline-block;
    border-radius: 10%;
    box-shadow: 5px 5px #140843;
    font-size: large;
    font-weight: bold;
}

.DoOperationButton:hover {
    background-color: rgb(12, 118, 118);
}

.DoOperationButton:active {
    transform: translate3d(3px, 3px, 0px);
    box-shadow: 2px 2px #392222;
}

.OperationButton:hover {
    background-color: rgb(12, 118, 118);
}

.OperationButton:active {
    transform: translate3d(3px, 3px, 0px);
    box-shadow: 2px 2px #392222;
}

.CalculatorBackground {
    background-color: rgb(21, 17, 88);
    border: none;
    padding: 2% 10px;
    border-radius: 5%;
    box-shadow: 5px 5px rgb(12, 10, 59);
}

.OperationCancelButton {
    background-color: rgb(192, 192, 51);
    border: none;
    padding: 5% 30px;
    margin: 5px;
    display: inline-block;
    border-radius: 10%;
    box-shadow: 5px 5px #140843;
    font-size: large;
    font-weight: bold;
}

.OperationCancelButton:hover {
    background-color: rgb(136, 136, 26);
}

.OperationCancelButton:active {
    transform: translate3d(3px, 3px, 0px);
    box-shadow: 2px 2px #392222;
}

.InputField {
    background-color: gray;
    border-radius: 10px;
    padding: 10% 22%;
    margin-bottom: 5px;
    border: none;
    display: flex;
    box-shadow: 5px 5px rgb(12, 10, 59);
    font-size: large;
    font-weight: bold;
}